* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: monospace;
  animation: bounce infinite 1.5s linear;
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

body {
  display: grid;
  width: 100dvw;
  height: 100dvh;
  place-items: center;
  background-color: black;
}

#profile_links {
  width: 100%;
  padding: 5vw;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  max-width: 600px;
  align-items: center;
  justify-content: center;
}